* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
}

#toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.desk,
.bigmage {
  display: none;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
  width: 200px;
  padding: 16px;
  margin: 0;
  margin-top: 50px;
}

#headline {
  width: 90%;
  height: 126px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
}

.textBoton {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.blackBoton {
  justify-content: center;
  margin: 16px;
  width: 90%;
  height: 50px;
  background: #1a2236;
  color: #fff;
  margin-bottom: 32px;
}

.imagebox {
  display: block;
  height: 160px;
  background-image: url(images/image_geometry_2.png);
}

.gallery {
  display: grid;
  grid: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 100%;
  width: 320px;
  padding: 16px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 40px 0 2rem;
  background: #fff;
  background-color: transparent;
}

.card {
  width: 320px;
}

.pData {
  height: 156px;
  left: 0;
  top: 940px;
  background: #1a2236;
  padding-left: 16px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 300%;
  color: #fff;
}

.projectUl {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
  width: 314px;
}

.projectLi {
  font-size: 10.33px;
  background-color: #98dede;
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 6px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

/* about section */

.see {
  background: none;
  border: #fff solid 0.5px;
  margin-top: 20px;
  padding: 10px;
}

.textAbout {
  width: 90%;
  height: max-content;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #1a2236;
  padding: 16px;
  padding-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.boxL {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-auto-rows: 19.2rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.Box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0;
  padding-left: 50px;
  width: 289px;
  height: 289px;
}

.lan {
  background-image: url(images/lfs/back/blue.png);
  background-size: contain;
  margin-top: 0;
}

.fra {
  background-image: url(images/lfs/back/red.png);
  background-size: contain;
  margin-top: 0;
}

.ski {
  background-image: url(images/lfs/back/yellow.png);
  background-size: contain;
  margin-top: 0;
}

h4 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  padding-top: 20px;
  line-height: 4;
}

.inBox {
  color: #fff;
  list-style-position: inside;
}

.image-about {
  display: none;
}

button {
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 72, 0, 0.945);
  border-color: rgba(255, 72, 0, 0.945);
  border-width: 0.3rem;
}

/* formulary section */

.formulary {
  background: #f9f9fa;
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space {
  height: 106px;
}

.cont-form {
  width: 320px;
}

.getStar {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
}

.rsFooter {
  float: left;
  background: #1a2236;
  text-align: center;
  margin: 0;
  width: 260px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.rrss {
  background-color: #1a2236;
  list-style: none;
}

.form-name {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfe0;
  height: 46px;
  margin: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  padding-left: 16px;
  padding-top: 4px;
}

.form-name-contend {
  border: none;
  background: #fff;
}

.form-text {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 18px;
  height: 90px;
  min-width: 288px;
  max-width: 400px;
  padding-left: 16px;
  padding-top: 8px;
}

.resume {
  border: transparent;
  color: #92dcdc;
  flex-grow: 2;
  padding-left: 16px;
}

.contenfoo {
  background: #1a2236;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  border-radius: 4px;
  border: none;
  background: #fff;
}

@media only screen and (min-width: 1280px) {
  /* Header */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #toolbar {
    display: none;
  }

  body {
    background: #fff;
  }

  .imagebox,
  .space {
    display: none;
  }

  .desk {
    display: block;
    border-bottom: 1px solid #dddfe6;
    line-height: 4;
  }

  .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }

  .menu a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    color: #1a2236;
  }

  .hello {
    display: grid;
    grid: 1rem;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    margin: 0 auto;
    
  }

  h1 {
    font-size: 8vw;
  }

  #headline {
    font-size: 1.5vw;
    line-height: 2;
    height: fit-content;
  }

  .hello-text {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
  }

  .bigimage {
    background-image: url("./images/image-big.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .blackBoton {
    width: 254px;
  }

  .project-title {
    transform: rotate(180);
  }

  /* about responsive */
  h2 {
    font-size: 5em;
  }

  .about-cont {
    margin: 10%;
    display: flex;
    flex-direction: row-reverse;
  }

  .about-head {
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    width: 50%;
  }

  .textAbout {
    height: fit-content;
  }

  .boxL {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
  }

  .image-about {
    background-image:
      url("./images/Group 51.png"),
      url("./images/Shape.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-position: bottom right, bottom right;
  }

  .box {
    width: 50%;
  }

  /* form responsive */

  .formulary {
    background-image:
      url(images/image-geometry_6.png),
      url(images/image-geometry_7.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    display: flex;
    background-size: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cont-form {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .form-header {
    margin-top: 5em;
  }

  .boxForm {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .boxForm label:nth-child(3) {
    grid-column: 1 / 3;
    background: none;
  }

  .form-text {
    width: 40em;
  }

  .getStar {
    font-size: 4em;
  }

  .contenfoo {
    margin: 0;
    padding: 0;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
