* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
}

#toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.desk,
.bigmage,
.form-name-message p {
  display: none;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  font-weight: 400;
  line-height: 100%;
  width: 200px;
  padding: 16px;
  margin: 0;
  margin-top: 50px;
}

#headline {
  width: 90%;
  height: fit-content;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #1a2236;
  padding: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
}

.blackBoton {
  justify-content: center;
  margin: 16px;
  width: 90%;
  height: 50px;
  background: #1a2236;
  color: #fff;
  margin-bottom: 32px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}

.imagebox {
  display: block;
  height: 160px;
  background-image: url(images/image_geometry_2.png);
}

.gallery {
  display: grid;
  grid: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 100%;
  width: 320px;
  padding: 16px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 40px 0 2rem;
  background: #fff;
  background-color: transparent;
}

.card4,
.card7,
.card8 {
  display: none;
}

.card {
  width: 320px;
}

.pData {
  height: 156px;
  left: 0;
  top: 940px;
  background: #1a2236;
  padding-left: 16px;
  cursor: pointer;
}

.card1 {
  align-self: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 300%;
  color: #fff;
}

.projectUl {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
  width: 314px;
}

.projectLi {
  font-size: 10.33px;
  background-color: #98dede;
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 6px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

/* about section */

.see {
  background: none;
  border: #fff solid 0.5px;
  margin-top: 20px;
  padding: 10px;
  color: #dddfe6;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}

.textAbout {
  width: 90%;
  height: max-content;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #1a2236;
  padding: 16px;
  padding-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.boxL {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-auto-rows: 19.2rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.Box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0;
  padding-left: 50px;
  width: 289px;
  height: 289px;
}

.lan {
  background-image: url(images/lfs/back/blue.png);
  background-size: contain;
  margin-top: 0;
}

.fra {
  background-image: url(images/lfs/back/red.png);
  background-size: contain;
  margin-top: 0;
}

.ski {
  background-image: url(images/lfs/back/yellow.png);
  background-size: contain;
  margin-top: 0;
}

h4 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  padding-top: 20px;
  line-height: 4;
}

.inBox {
  color: #fff;
  list-style-position: inside;
}

.image-about {
  display: none;
}

button {
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background: #fff;
  border-color: black;
  border-width: 1px;
  color: #1a2236;
}

button:active {
  border-width: 4px;
}

/* formulary section */

.formulary {
  background: #f9f9fa;
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space {
  height: 106px;
}

.cont-form {
  width: 320px;
}

.getStar {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
}

.rsFooter {
  float: left;
  background: #1a2236;
  text-align: center;
  margin: 0;
  width: 260px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.rrss {
  background-color: #1a2236;
  list-style: none;
}

.form-name {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfe0;
  height: 46px;
  margin: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  padding-left: 16px;
  padding-top: 4px;
}

.form-name-contend {
  border: none;
  background: #fff;
}

.form-text {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 18px;
  height: 90px;
  min-width: 288px;
  max-width: 400px;
  padding-left: 16px;
  padding-top: 8px;
}

.resume {
  border: transparent;
  color: #92dcdc;
  flex-grow: 2;
  padding-left: 16px;
}

.contenfoo {
  background: #1a2236;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  border-radius: 4px;
  border: none;
  background: #fff;
}

@media only screen and (min-width: 1280px) {
  /* Header */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #toolbar {
    display: none;
  }

  body {
    background: #fff;
  }

  .imagebox,
  .space {
    display: none;
  }

  .desk {
    display: block;
    border-bottom: 1px solid #dddfe6;
    line-height: 4;
  }

  .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }

  .menu a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    color: #1a2236;
  }

  .hello {
    display: grid;
    grid: 1rem;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    margin: 0 auto;
  }

  #headline {
    font-size: 1.5vw;
    line-height: 2;
    height: fit-content;
  }

  .hello-text {
    display: flex;
    flex-direction: column;
    padding-left: 8em;
    background-image: url(images/project/image_dots.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 93.5vh;
    justify-content: center;
  }

  .bigimage {
    background-image: url("./images/image-big.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .blackBoton {
    width: 254px;
  }

  .see {
    transition-duration: 0.4s;
    cursor: pointer;
    background: #fff;
    color: #1a2236;
  }

  .see:hover {
    background: #1a2236;
    border-color: #fff;
    border-width: 1px;
    color: #fff;
  }

  .see:active {
    border-width: 2px;
  }

  /* project section descktop */

  .projects {
    margin-top: 15em;
  }

  .gallery {
    display: grid;
    grid-template-columns: 33% 22% 12% 33%;
    grid-template-rows: auto 1fr 1fr;
    gap: 0;
    justify-content: stretch;
  }

  .card {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .card4,
  .card7,
  .card8,
  .form-name-message p {
    display: block;
  }

  .card1 {
    grid-column: 1;
    grid-row: 1;
  }

  .caja1-1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(images/project/image_dots.png);
    background-position: top right;
    background-repeat: no-repeat;
  }

  .project-title {
    display: block;
    transform: rotate(270deg);
    margin: 0;
    font-size: 124px;
    align-items: center;
  }

  .card2 {
    width: 100%;
    grid-column: 2 / 5;
    background-color: #1a2236;
  }

  .card2 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }

  .card2 .pData {
    zoom: 200%;
  }

  .card3 {
    display: grid;
    align-content: end;
  }

  .card3 .pData {
    display: none;
  }

  .card3 img {
    align-items: end;
    width: 100%;
  }

  .card4 {
    grid-column: 2 / 4;
    grid-row: 2;
    background-image: url(images/project/image-geometry_2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .cardx {
    display: none;
  }

  .card5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column-reverse;
  }

  .card5 img {
    width: 100%;
  }

  .card5 .pData {
    zoom: 140%;
    border-top: #fff 3px solid;
  }

  .card img {
    cursor: pointer;
  }

  .card6 {
    grid-column: 1 / 3;
  }

  .card6 .pData,
  .card9 .pData {
    display: none;
  }

  .card6 img {
    width: 100%;
  }

  .card7 {
    grid-column: 3 / 5;
    background-image: url(images/project/image-geometry_3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .card8 {
    grid-column: 1 / 3;
    background-image:
      url(images/project/image-geometry_4.png),
      url(images/project/image-geometry_5.png);
    background-repeat: no-repeat;
    background-position: top right, top left;
    zoom: 110%;
    height: 100%;
  }

  .card9 {
    grid-column: 3 / 5;
    grid-row: 4;
  }

  .card9 img {
    width: 100%;
  }

  /* about responsive */
  .about {
    zoom: 1vh;
  }

  h2 {
    font-size: 5em;
  }

  .about-cont {
    margin: 10%;
    display: flex;
    flex-direction: row-reverse;
  }

  .about-head {
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    width: 50%;
  }

  .textAbout {
    height: fit-content;
  }

  .boxL {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    width: fit-content;
  }

  .image-about {
    display: block;
    background-image: url("./images/lfs/about/image_dots_with_teal.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .box {
    width: 50%;
  }

  /* form responsive */

  .formulary {
    background-image:
      url(images/image-geometry_6.png),
      url(images/image-geometry_7.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    display: flex;
    background-size: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87.5vh;
  }

  .getStar {
    font-size: 6.4em;
    width: 100%;
    text-align: center;
  }

  .form-hello {
    width: 548px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 21px;
    letter-spacing: -0.01em;
  }

  .cont-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
  }

  .form-header {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxForm {
    width: 548px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 35px;
  }

  .form-name {
    border: none;
    background: none;
    margin: 60px 0;
    padding: 0;
    line-height: 2;
    font-size: 12px;
    margin-bottom: 42px;
  }

  .form-name-contend {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
  }

  .form-name-message {
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 18px;
    color: #1a2236;
  }

  .boxForm label:nth-child(3) {
    grid-column: 1 / 3;
    background: none;
  }

  .form-text {
    width: 100%;
    margin: 0;
    min-width: none;
    max-width: none;
    height: 115px;
    padding: 18px auto auto 20px;
    font-size: 16px;
  }

  .botonform {
    display: flex;
    justify-content: center;
  }

  .button-form {
    height: 70px;
    width: 254px;
  }

  .contenfoo {
    margin: 0;
    padding: 0;
    height: 123px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
