body {
  display: flex;
  flex-direction: column;
  border: #1a2236 solid;
  background-image: url(images/image_geometry_1.png);
  background-repeat:no-repeat;
  margin: 0;
}

#toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 100%;
  width: 200px;
  padding: 16px;
  padding-bottom: 0;
  margin: 0;
  margin-top: 40px;
}

#headline {
  width: 90%;
  height: 126px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  padding-bottom: 30px;
}

.textBoton {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.blackBoton {
  justify-content: center;
  margin: 16px;
  width: 90%;
  height: 50px;
  background: #1a2236;
  color: #fff;
  margin-bottom: 32px;
}
